
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getBook</title>
</head>
<body>
    <h1>Hello From getBook!!</h1>
</body>
</html>
